.header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333333;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    z-index: 100;
}
.a a{
    left:10%;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: white;
}
.krquiz{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    justify-content: center;
    height:80vh;
}

.inputbox{
    background-color: black;
    /* color: white; */
    width: 20vh; 
    height: 1.25em;
    text-align: center;
    font-size: 1em;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 8%;
    border-style: solid;
    border-color: white;
    color:white;
} 

.character{
    margin-bottom: 6vh;
    border-radius: 8%;
    border-style: solid;
    height:30vh;
    width: 30vh;
    display: flex;
    align-items: center; 
    font-size: 5vh;
    justify-content: center;
    color: white;
}

.hint{
    margin-top: 5vh;
    align-items: center;
    cursor: pointer;
    
}

.navbar a::before{
    content: '';
    position: absolute;
    left: 50%; 
    top: 105%;
    background:150%;
    width:0%;
    height:3%;
    background-color: white;
    transition: .3s;
}
.navbar a{
    position: relative;
    margin-left: 40px;
    color: white;
    font-weight: 300;
    text-decoration: none;
    /* height: 30vh;
    width: 100px; */
}
.navbar a:hover::before{
    left:0;
    width:100%;
}

.bod{
    margin-top: 7%;
    color: white; 
    align-items: center;
    margin-left: 5%;
    font-size: 16px;
}
table {
    table-layout: fixed;
    width: 80%;
}
thead th {
    width:10%;
}
td {
    width:10%
    
}
tbody td{
    text-align: center;
}
.hi{
    margin-top: 2.5%;
}

.herebutton{
    text-decoration: none;
    color:white;

}

.inputbox:focus{

    outline: none;
}

/* .herebutton a:visited{
    color: white;
}

.herebutton a:hover{

} */